---
import "@/styles/main.scss";
import "@/styles/globals.css";

import config from "@/config/config.json";
import theme from "@/config/theme.json";

const pf = theme.fonts.font_family.primary;

export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}
const { image, title, meta_title, description, noindex, canonical } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-white">
  <head>
    <!-- favicon -->
    <link rel="shortcut icon" href={config.site.favicon} />
    <!-- theme meta -->
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- google font css -->
    <link
      href={`https://fonts.googleapis.com/css2?family=${pf}&display=swap`}
      rel="preload"
    />
    <!-- responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=3"
    />
    <!-- title -->
    <title>
      {meta_title ? meta_title : title ? title : config.site.title}
    </title>
    <!-- canonical url -->
    {
      canonical && (
        <link
          rel="canonical"
          href={`${config.site.base_url}/${canonical}`}
          item-prop="url"
        />
      )
    }
    <!-- noindex robots -->
    {noindex && <meta name="robots" content="noindex,nofollow" />}
    <!-- meta-description -->
    <meta
      name="description"
      content={description ? description : config.metadata.meta_description}
    />
    <!-- author from config.json -->
    <meta name="author" content={config.metadata.meta_author} />
    <!-- og-title -->
    <meta
      property="og:title"
      content={meta_title ? meta_title : title ? title : config.site.title}
    />
    <!-- og-description -->
    <meta
      property="og:description"
      content={description ? description : config.metadata.meta_description}
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${config.site.base_url}/${canonical}`} />
    <!-- og-image -->
    <meta property="og:image" content={image} />
    <!-- twitter-title -->
    <meta
      name="twitter:title"
      content={meta_title ? meta_title : title ? title : config.site.title}
    />
    <!-- twitter-description -->
    <meta
      name="twitter:description"
      content={description ? description : config.metadata.meta_description}
    />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <main id="main-content">
      <slot />
    </main>
  </body>
</html>
