---
const { reversed } = Astro.props;
---

<div
  class={`flex ${
    reversed ? "flex-col-reverse" : "flex-col"
  } flex-col md:flex-row items-center gap-y-8`}
>
  <div class="flex flex-col flex-1">
    <slot name="left" />
  </div>
  <div class="flex flex-col flex-1 items-end">
    <slot name="right" />
  </div>
</div>
