---
const { style, classes = "", fullWidth = false } = Astro.props;
---

<section
  class=`section-content-wrapper box-border ${fullWidth ? 'px-0' : 'px-4 md:px-6 lg:px-10'} ${classes}`
  style={style}
>
  <div class="section-content-container mx-auto max-w-[1240px]">
    <slot />
  </div>
</section>
